.catalog-nav {
  width: 273px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-top: none;
}
.catalog-nav__head {
  width: 100%;
  background-color: #ff5e3a;
  padding: 19px 25px;
  box-sizing: border-box;
  /* Style for "каталог то" */
}
.catalog-nav__item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  transition: all 300ms ease-in-out;
}
.catalog-nav__item:last-child {
  border-bottom: none;
}
.catalog-nav__item:hover .catalog-nav__submenu {
  display: block;
}
.catalog-nav__title-sub {
  width: 100%;
  padding: 15px 0 15px 25px;
  box-sizing: border-box;
}
.catalog-nav__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}
.catalog-nav__link-icon {
  height: 22px;
}
.catalog-nav__link-title {
  display: inline;
  margin: 0 0 0 25px;
  color: #5f5f5f;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
.catalog-nav__submenu {
  position: absolute;
  z-index: 15;
  top: 0;
  display: none;
  width: 276px;
  left: 100%;
  background-color: white;
  box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0 2px;
}
.catalog-nav__submenu-item {
  list-style-type: none;
}
.catalog-nav__submenu-item:hover {
  background-color: #5f5f5f;
  box-sizing: border-box;
}
.catalog-nav__submenu-item:hover .catalog-nav__submenu-link {
  color: white;
}
.catalog-nav__submenu-link {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  color: #424242;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  border-bottom: dotted 1px #e7e7e7;
}
.catalog-nav-head__title {
  display: inline;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "к, аталог" */
  letter-spacing: 0.48px;
  color: #fcfcfc;
  padding: 0;
  vertical-align: middle;
}
.catalog-nav-head__icon {
  font-size: 25px;
  margin-right: 25px;
  vertical-align: middle;
  color: #ffffff;
}
.catalog-nav-mobile {
  display: none;
  margin: 10px 0;
  width: 100%;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-top: none;
}
.catalog-nav-mobile__link {
  cursor: pointer;
}
.catalog-nav-mobile__link-title {
  margin: 0 0 0 15px;
}
.catalog-nav-mobile__link-icon {
  display: inline;
  vertical-align: middle;
}
.catalog-nav-mobile__link-title {
  display: inline-block;
}
.catalog-nav-mobile__submenu {
  top: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 300ms linear;
}
.catalog-nav-mobile__submenu__item {
  padding: 15px 25px 15px 60px;
}
.catalog-nav-mobile__submenu-link {
  border-bottom: none;
}
.catalog-nav-mobile__submenu-active {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .catalog-nav {
    display: none;
  }
  .catalog-nav-mobile {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 960px) {
  .catalog-nav {
    display: none;
  }
  .catalog-nav-mobile {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-device-width: 960px) and (max-device-width: 1350px) {
  .catalog-nav-head__title {
    font-size: 13px;
  }
  .catalog-nav-head__icon {
    margin-right: 15px;
  }
}
