.main {
  margin-top: 16px;
  overflow: hidden;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
.main__banner {
  width: 73.33333333%;
  height: 350px;
}
.main__breadcrumbs {
  position: relative;
  height: 60px;
  left: 266px;
}
.banner__button {
  width: 113px;
  height: 37px;
  background-color: #3379e4;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Museo Sans Cyrl 500";
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.main-product-map {
  background-color: #f6f6f6;
  padding: 20px 0;
  margin: 0;
}
.main-product-map__title {
  color: #404040;
  font-family: 'Lato Black';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin: 0 0 0 24px;
}
.main-product-map__wrapper {
  justify-content: flex-start;
  align-items: flex-start;
}
.main-personal-room {
  overflow: visible;
  padding: 20px 0;
  margin: 0;
}
.main-personal-room__title {
  color: #404040;
  font-family: 'Lato Black';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin: 0 0 0 24px;
}
.main-personal-room__wrapper {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}
