.banner {
  overflow: hidden;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner__button {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  top: 82%;
  left: 3.5%;
  transform: translate(-3.5%, -82%);
  position: absolute;
  color: #ffffff;
  background-color: #3379e4;
}
.banner__slide {
  position: relative;
  width: 100%;
  outline: none;
  height: 100%;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-dots {
  padding: 0;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}
.slick-dots > li {
  list-style-type: none;
  margin: 0 3px;
}
.slick-dots > li > button {
  content: "" !important;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: none;
  outline: none;
  appearance: none;
  opacity: 0.6;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}
.slick-dots .slick-active button {
  opacity: 1;
}
