.tabs-rubric {
  margin: 29px 0 5px 0;
}
.tabs-rubric__container {
  position: relative;
}
.tabs-rubric__container:after {
  content: "";
  display: table;
  clear: both;
}
.tabs-rubric__content {
  position: relative;
  margin-top: 5px;
}
.tabs-rubric__items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.tabs-rubric__items:after {
  content: "";
  display: table;
  clear: both;
}
.tabs-rubric__item {
  position: relative;
  text-align: center;
  width: 7.2em;
  height: 6.2rem;
  border: 1px solid #e7e7e7;
  background-color: #fcfcfc;
  list-style-type: none;
  margin: 0 1px;
  padding: 1em 0.25em 2.3em 0.25em;
  box-sizing: border-box;
}
.tabs-rubric__item:first-child {
  margin-left: 0;
}
.tabs-rubric__item:last-child {
  margin-right: 0;
}
.tabs-rubric__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.tabs-rubric__image {
  position: relative;
  height: 1.79em;
}
.tabs-rubric__image img {
  vertical-align: bottom;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.tabs-rubric__title {
  color: #272727;
  font-family: "Museo Sans Cyrl 100";
  font-size: 0.68em;
  text-transform: uppercase;
  font-weight: 400;
}
.tab-rubric__content {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.tab-rubric__content-active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs-rubric__item-active .tabs-rubric__border {
  display: block;
  transform: translateX(1px);
  width: 100%;
  background-color: #5e8ce0;
  background-image: linear-gradient(to right, #f5bd54 0%, #fea131 99%);
  position: absolute;
  top: -1px;
  left: -1px;
  height: 3px;
}
