.tabs {
  margin-top: 20px;
}
.tabs__container {
  position: relative;
}
.tabs__container:after {
  content: "";
  display: table;
  clear: both;
}
.tabs__container-include .tabs__items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.tabs__container-include .tabs__items:after {
  content: "";
  display: table;
  clear: both;
}
.tabs__container-include .tabs__item {
  position: relative;
  text-align: center;
  width: 117px;
  height: 108px;
  border: 1px solid #e7e7e7;
  background-color: #fcfcfc;
  list-style-type: none;
  margin: 0 1px;
  padding: 21px 4px 18px 5px;
  box-sizing: border-box;
}
.tabs__container-include .tabs__item:first-child {
  margin-left: 0;
}
.tabs__container-include .tabs__item:last-child {
  margin-right: 0;
}
.tabs__container-include .tabs__link {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs__container-include .tabs__image {
  position: relative;
  height: 36px;
}
.tabs__container-include .tabs__image img {
  vertical-align: bottom;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.tabs__container-include .tabs__title {
  color: #272727;
  font-family: "Museo Sans Cyrl 100";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.tabs__container-include .tabs__item-active .tabs__border {
  display: block;
  background-color: #5e8ce0;
  background-image: linear-gradient(to right, #f5bd54 0%, #fea131 99%);
  position: absolute;
  top: -1px;
  left: -1px;
  width: 117px;
  height: 3px;
}
.tabs__content {
  position: relative;
  margin-top: 5px;
}
.tabs .tab__content {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.tabs .tab__content-active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs .dropdown-mobile-container {
  display: none;
  margin-top: 50px;
  width: 300px;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 100px;
}
.tabs .dropdown-mobile-container .tab-container {
  width: 300px;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile {
  width: 70px;
  height: auto;
  display: table-row;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul {
  height: 100%;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li {
  width: 67px;
  margin-right: 2px;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li > a {
  display: block;
  padding: 18px 10px;
  cursor: pointer;
  border: solid 3px transparent;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li > a.active {
  border: 3px solid black;
  border-right: 3px solid transparent;
  background-color: black;
  color: #fff;
}
.tabs .dropdown-mobile-container .tab-container .tab-content {
  display: table-column;
  width: 200px;
  height: 100%;
  float: left;
}
.tabs .dropdown-mobile-container .tab-container .tab-content .content {
  position: absolute;
  top: 0;
  left: 15px;
  visibility: hidden;
  opacity: 0;
}
.tabs .dropdown-mobile-container .tab-container .tab-content .content.active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
