@import 'blocks/page/page.css';
.info-button {
  display: flex;
  align-items: center;
  width: 269px;
  height: 103px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 0 11px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 2px;
  margin: 27px 5px;
}
.info-button__item-icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.info-button__item-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-button__item-title {
  margin-left: 25px;
  color: #333333;
  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.button {
  /* Style for "кнопка" */
  padding: 4px 5px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #01b017;
  /* Style for "В корзину" */
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.search {
  width: 447px;
  height: 49px;
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
}
.search__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 18px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
}
.search__input:focus {
  outline: none;
  border: solid 1px #ffa02f;
}
.search__button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 49px;
  border: solid 1px transparent;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.search__button:active {
  outline: none;
}
.search__button .la-search {
  font-size: 18px;
  transform: rotate(-90deg);
  color: #fff;
}
.search-mobile {
  width: 150px;
  height: 20px;
  position: relative;
  background-color: transparent;
  margin-left: 7px;
}
.search-mobile__input {
  width: 100px;
  height: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: white;
  transition: all 300ms linear;
}
.search-mobile__input:focus {
  width: 130px;
  outline: none;
  margin-bottom: -3px;
  border-bottom: solid 2px white;
}
.search-mobile__button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px transparent;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.search-mobile__button:active {
  outline: none;
}
.search-mobile__button .la-search {
  font-size: 18px;
  transform: rotate(-90deg);
  color: #fff;
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 960px) {
  .search-mobile {
    display: none;
  }
}
.product {
  position: relative;
  width: 208px;
  height: 355px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  padding: 21px 21px 10px 14px;
}
.product__special-char {
  text-align: center;
  padding: 7px 8px;
  box-sizing: border-box;
  min-width: 65px;
  border-radius: 2px;
  /* Style for "Новинка" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}
.product__special-char-new {
  background-color: #d50382;
}
.product__special-char-sale {
  background-color: #ff3622;
}
.product__special-char-action {
  background-color: #60aeea;
}
.product__image {
  position: relative;
  width: 150px;
  text-align: center;
  height: 184px;
}
.product__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.product__title {
  text-align: center;
  color: #737373;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: 55px;
}
.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  transform: translateY(-100%);
  padding: 18px 9px 18px 8px;
}
.product__price {
  /* Style for "50 ГРН" */
  color: #272727;
  font-family: Roboto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-banner {
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  padding: 13px;
  border: 1px solid #e7e7e7;
}
.product-banner__right {
  margin-left: 10px;
}
.product-banner__special-char {
  /* Style for "Новинка" */
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  padding: 3px 8px;
  box-sizing: border-box;
  min-width: 65px;
  font-family: Roboto;
  border-radius: 2px;
  color: #fff;
}
.product-banner__special-char-new {
  background-color: #d50382;
}
.product-banner__special-char-sale {
  background-color: #ff3622;
}
.product-banner__special-char-action {
  background-color: #60aeea;
}
.product-banner__image {
  position: relative;
  /* Style for "пикча" */
  width: 131px;
  height: 149px;
}
.product-banner__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.product-banner__title {
  margin: 10px 0;
  color: #737373;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.product-banner__bottom {
  display: flex;
  align-items: center;
}
.product-banner__price {
  /* Style for "50 ГРН" */
  color: #272727;
  font-family: Roboto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-banner .description__item {
  color: #737373;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.banner {
  position: relative;
}
.banner img {
  height: 100%;
  width: 100%;
}
.banner__button {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  top: 82%;
  left: 3.5%;
  transform: translate(-3.5%, -82%);
  position: absolute;
  /* Style for "ПОДРОБНЕЕ" */
  color: #ffffff;
}
.content__wrapper {
  display: flex;
  justify-content: space-between;
}
.content__goods {
  width: 840px;
}
.content__title {
  color: #272727;
  font-family: "Museo Sans Cyrl 700";
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.content__product-of-the-day {
  border: none !important;
  margin: 10px 3px 0 3px;
}
.content__product-of-the-day:first-child {
  margin-left: 0;
}
.content__product-of-the-day:last-child {
  margin-right: 0;
}
.content .product-of-the-day__title {
  margin-bottom: 20px;
}
.content .product-of-the-day__banner {
  width: 418px;
  height: 210px;
}
.catalog-nav {
  width: 273px;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-top: none;
}
.catalog-nav__head {
  width: 100%;
  background-color: #ff5e3a;
  padding: 19px 25px;
  box-sizing: border-box;
  /* Style for "каталог то" */
  color: #fcfcfc;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "к, аталог" */
  letter-spacing: 0.48px;
}
.catalog-nav__head .la-bars {
  font-size: 25px;
  margin-right: 25px;
  vertical-align: middle;
}
.catalog-nav__item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  transition: all 300ms ease-in-out;
}
.catalog-nav__item:last-child {
  border-bottom: none;
}
.catalog-nav__item:hover .catalog-nav__submenu {
  display: block;
}
.catalog-nav__title-sub {
  width: 100%;
  padding: 15px 0 15px 25px;
  box-sizing: border-box;
}
.catalog-nav__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}
.catalog-nav__link-icon {
  height: 22px;
}
.catalog-nav__link-title {
  display: inline;
  margin: 0 0 0 25px;
  color: #5f5f5f;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
.catalog-nav__submenu {
  position: absolute;
  z-index: 15;
  top: 0;
  display: none;
  width: 276px;
  left: 100%;
  background-color: white;
  box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0 2px;
}
.catalog-nav__submenu-item {
  list-style-type: none;
}
.catalog-nav__submenu-item:hover {
  background-color: #5f5f5f;
  box-sizing: border-box;
}
.catalog-nav__submenu-item:hover .catalog-nav__submenu-link {
  color: white;
}
.catalog-nav__submenu-link {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  color: #424242;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  border-bottom: dotted 1px #e7e7e7;
}
.catalog-nav-mobile {
  display: none;
  margin: 10px 0;
  width: 100%;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-top: none;
}
.catalog-nav-mobile__link {
  cursor: pointer;
}
.catalog-nav-mobile__link-title {
  margin: 0 0 0 15px;
}
.catalog-nav-mobile__link-icon {
  display: inline;
  vertical-align: middle;
}
.catalog-nav-mobile__link-title {
  display: inline-block;
}
.catalog-nav-mobile__submenu {
  top: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 300ms linear;
}
.catalog-nav-mobile__submenu__item {
  padding: 15px 25px 15px 60px;
}
.catalog-nav-mobile__submenu-link {
  border-bottom: none;
}
.catalog-nav-mobile__submenu-active {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .catalog-nav {
    display: none;
  }
  .catalog-nav-mobile {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 960px) {
  .catalog-nav {
    display: none;
  }
  .catalog-nav-mobile {
    width: 100%;
    display: block;
  }
}
.counter {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.counter__item-counter {
  position: relative;
}
.counter__item-counter .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -8px;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.counter__item-counter .la {
  color: #333333;
  font-size: 23px;
}
.counter__title {
  color: #333333;
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  margin-left: 24px;
}
.counter-mobile__item-counter {
  position: relative;
}
.counter-mobile__item-counter .item__counter-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -8px;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.counter-mobile__item-counter .la {
  color: white;
  font-size: 23px;
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .counter-mobile {
    display: flex;
  }
  .navigation__wrapper {
    justify-content: flex-start;
  }
}
@media only screen and (min-device-width: 960px) {
  .counter-mobile {
    display: none;
  }
}
.knowledge-base__title {
  /* Style for "база знани" */
  text-align: center;
  width: 272px;
  height: 52px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 14px 0;
  margin: 0;
}
.knowledge-base__tape {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  position: relative;
  padding: 10px 21px 7px 21px;
  box-sizing: border-box;
  background-color: white;
}
.knowledge-base__banner {
  text-align: center;
  padding: 50px 54px;
  box-sizing: border-box;
  margin-top: 5px;
  /* Style for "Box копия" */
  width: 272px;
  height: 351px;
  box-shadow: 0 3px 7px rgba(151, 151, 151, 0.35);
  border: 1px solid #e7e7e7;
  background-color: #fff0e3;
}
.knowledge-base .banner-knowledge__name {
  color: #161616;
  padding-bottom: 2px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration-color: black;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.footer {
  background-color: white;
  border-top: solid 3px #ff5e3a;
  padding-top: 52px;
  box-sizing: border-box;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  color: #000000;
  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "сервисы" */
  letter-spacing: 0.42px;
}
.footer__lists {
  padding: 0;
}
.footer__list {
  list-style-type: none;
}
.footer__link {
  /* Style for "Аккаунт" */
  color: #3d3d3d;
  text-decoration: none;
  font-family: "Museo Sans Cyrl 300";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  /* Text style for "Аккаунт" */
  letter-spacing: 0.42px;
}
.footer .call-info {
  padding-left: 25px;
}
.footer .call-info__title {
  font-family: "Museo Sans Cyrl 500";
  font-weight: 400;
  /* Text style for "З, воните" */
  color: #000000;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.footer .call-info__time {
  font-family: "Museo Sans Cyrl 100";
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.footer .call-info__number {
  font-size: 24px;
  /* Text style for "," */
  font-family: "Museo Sans Cyrl 500";
  letter-spacing: 0.32px;
  padding: 0;
  margin: 5px 0 0 0;
}
.footer .call-info__colorful {
  color: #ff5e3a;
}
.footer__social-media {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer .social-media__link {
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #515151;
  margin: 18px 2px 0;
}
.footer .social-media__link .la {
  color: white;
  padding: 4px 3px;
  font-size: 24px;
}
.footer__rights {
  border-top: solid 1px #c5c5c5;
  height: 52px;
  background-color: #fbfbfb;
}
.footer .rights {
  margin-top: 20px;
}
.footer .rights__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .rights__rule {
  color: #787878;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  /* Text style for "2018 © Aba" */
  letter-spacing: 0.5px;
}
.footer .rights__created {
  opacity: 0.8;
  color: #000000;
  font-family: "Museo Sans Cyrl 100";
  font-size: 13px;
  font-weight: bold;
}
.tabs {
  margin-top: 20px;
}
.tabs__container {
  position: relative;
}
.tabs__container:after {
  content: "";
  display: table;
  clear: both;
}
.tabs__container-include .tabs__items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.tabs__container-include .tabs__items:after {
  content: "";
  display: table;
  clear: both;
}
.tabs__container-include .tabs__item {
  position: relative;
  text-align: center;
  width: 117px;
  height: 108px;
  border: 1px solid #e7e7e7;
  background-color: #fcfcfc;
  list-style-type: none;
  margin: 0 1px;
  padding: 21px 4px 18px 5px;
  box-sizing: border-box;
}
.tabs__container-include .tabs__item:first-child {
  margin-left: 0;
}
.tabs__container-include .tabs__item:last-child {
  margin-right: 0;
}
.tabs__container-include .tabs__link {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs__container-include .tabs__image {
  position: relative;
  height: 36px;
}
.tabs__container-include .tabs__image img {
  vertical-align: bottom;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.tabs__container-include .tabs__title {
  color: #272727;
  font-family: "Museo Sans Cyrl 100";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.tabs__container-include .tabs__item-active .tabs__border {
  display: block;
  background-color: #5e8ce0;
  background-image: linear-gradient(to right, #f5bd54 0%, #fea131 99%);
  position: absolute;
  top: -1px;
  left: -1px;
  width: 117px;
  height: 3px;
}
.tabs__content {
  position: relative;
  margin-top: 5px;
}
.tabs .tab__content {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.tabs .tab__content-active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs .dropdown-mobile-container {
  display: none;
  margin-top: 50px;
  width: 300px;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 100px;
}
.tabs .dropdown-mobile-container .tab-container {
  width: 300px;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile {
  width: 70px;
  height: auto;
  display: table-row;
  float: left;
  text-align: center;
  text-transform: uppercase;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul {
  height: 100%;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li {
  width: 67px;
  margin-right: 2px;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li > a {
  display: block;
  padding: 18px 10px;
  cursor: pointer;
  border: solid 3px transparent;
}
.tabs .dropdown-mobile-container .tab-container .tabs-mobile > ul > li > a.active {
  border: 3px solid black;
  border-right: 3px solid transparent;
  background-color: black;
  color: #fff;
}
.tabs .dropdown-mobile-container .tab-container .tab-content {
  display: table-column;
  width: 200px;
  height: 100%;
  float: left;
}
.tabs .dropdown-mobile-container .tab-container .tab-content .content {
  position: absolute;
  top: 0;
  left: 15px;
  visibility: hidden;
  opacity: 0;
}
.tabs .dropdown-mobile-container .tab-container .tab-content .content.active {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.favorite-heart {
  position: relative;
  width: 35px;
  height: 35px;
}
.favorite-heart input[type=checkbox] {
  clear: both;
  display: none;
}
.favorite-heart input[type="checkbox"] {
  display: none;
}
.favorite-heart input[type="checkbox"] + label {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.favorite-heart input[type="checkbox"]:checked + label svg {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  fill: red;
  animation: like-a 0.3s 0.2s forwards;
}
.favorite-heart label svg {
  padding: 5px;
  display: inline-flex;
  vertical-align: middle;
  width: 22px;
  fill: #a7a7a7;
}
@-webkit-keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
@-moz-keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
@keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
.headline {
  background-color: #fafafa;
}
.headline__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.headline__item {
  margin: 5px 7px;
}
.headline__image-item {
  text-align: center;
}
.headline__text {
  /* Style for "НОВЫЕ ПОСТ" */
  text-transform: uppercase;
  color: #000000;
  font-family: "Museo Sans Cyrl";
  font-size: 14px;
  /* Text style for "" */
  letter-spacing: 0.7px;
  font-weight: 300;
}
.headline__button {
  text-decoration: none;
  padding: 13px 9px 13px;
  box-sizing: border-box;
  background-color: black;
  color: #ffffff;
  font-family: "Museo Sans Cyrl";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.bold {
  font-weight: 600;
  letter-spacing: 0.7px;
}
.thin {
  letter-spacing: 0.7px;
  font-weight: 100;
}
/* Blocked */
@media only screen and (min-device-width: 280px) and (max-device-width: 320px) {
  .headline__item {
    margin: 5px 7px;
  }
  .headline__image-item {
    display: none;
  }
  .headline__image {
    width: 72px;
  }
  .headline__image img {
    width: 100%;
  }
  .headline__text {
    font-size: 10px;
  }
  .headline__button {
    font-size: 10px;
    padding: 10px 6px 10px;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 320px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:first-child {
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 320px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:last-child {
    margin-right: 0;
  }
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .headline__item {
    margin: 5px 7px;
  }
  .headline__image-item {
    display: none;
  }
  .headline__image {
    width: 72px;
  }
  .headline__image img {
    width: 100%;
  }
  .headline__text {
    font-size: 10px;
  }
  .headline__button {
    font-size: 10px;
    padding: 10px 6px 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:first-child {
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:last-child {
    margin-right: 0;
  }
}
/* Small Devices, Tablets */
@media all and (min-device-width: 480px) and (max-device-width: 768px) {
  .headline__item {
    margin: 5px 7px;
  }
  .headline__image-item {
    display: none;
  }
  .headline__button {
    font-size: 12px;
  }
}
@media all and (min-device-width: 480px) and (max-device-width: 768px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:first-child {
    margin-left: 0;
  }
}
@media all and (min-device-width: 480px) and (max-device-width: 768px) and only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .headline__item:last-child {
    margin-right: 0;
  }
}
.logo {
  text-decoration: none;
}
.main {
  margin-top: 16px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__banner {
  width: 850px;
  height: 383px;
  margin-left: 20px;
}
.main .banner__button {
  width: 113px;
  height: 37px;
  background-color: #3379e4;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Museo Sans Cyrl 500";
  text-transform: uppercase;
  /* Text style for "ПОДРОБНЕЕ" */
  letter-spacing: 0.6px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 960px) {
  .main__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.menu__item {
  cursor: pointer;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
  transition: 200ms linear;
}
.menu__link {
  text-decoration: none;
  color: #ededed;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  /* Text style for "О компании" */
  letter-spacing: 0.39px;
}
.menu__icon {
  transform: rotate(180deg);
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
}
.menu__addition {
  position: absolute;
  width: 42px;
  height: 42px;
  right: -34px;
  top: -21px;
}
.menu__addition .square {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 42px;
  height: 22px;
  /* Style for "New" */
  text-transform: uppercase;
  text-align: center;
  color: #fdfdfd;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 26px;
  /* Text style for "N, ew" */
  letter-spacing: 0.33px;
}
.menu__addition .square .triangle-down {
  position: absolute;
  top: 22px;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 6px solid transparent;
}
.menu__addition-new .square {
  background-color: #5995c8;
}
.menu__addition-new .square .triangle-down {
  border-top: 6px solid #5995c8;
}
.menu__addition-hot .square {
  background-color: #cf5353;
}
.menu__addition-hot .square .triangle-down {
  border-top: 6px solid #cf5353;
}
.menu__submenu {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 20;
  width: 240px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  top: 30px;
  left: -40px;
  transition: all 300ms linear;
}
.menu__submenu-active {
  opacity: 1;
  visibility: visible;
}
.menu-item-exp {
  position: relative;
  transition: 300ms linear;
}
.menu-item-exp__icon {
  transform-origin: center;
  vertical-align: middle;
  margin-left: 5px;
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
  transition: all 300ms linear;
}
.menu-item-exp__icon-active {
  transform: rotate(180deg);
}
.submenu__item {
  padding: 7px 15px;
  border-bottom: dotted 1px #dfdfdf;
  list-style-type: none;
  box-sizing: border-box;
}
.submenu__link {
  text-decoration: none;
  display: block;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.36px;
}
.submenu__icon {
  color: #5995c8;
  margin: 0 5px 0 8px;
}
.menu-mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  width: 230px;
  z-index: 888;
  background-color: #fff;
  top: 0;
  left: -40px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.menu-mobile__item {
  position: relative;
  border-bottom: solid 1px #e7e7e7;
  transition: all 300ms linear;
}
.menu-mobile__link {
  padding: 15px 30px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
.menu-mobile__addition {
  right: 5px;
  top: 5px;
}
.menu-mobile__submenu {
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-top: solid 2px #dfdfdf;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__submenu-active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.menu-mobile-item-exp {
  position: relative;
  transition: 300ms linear;
}
.menu-mobile-item-exp__icon {
  transform-origin: center;
  vertical-align: middle;
  margin-left: 5px;
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
  transition: all 300ms linear;
}
.menu-mobile-item-exp__icon__icon-active {
  transform: rotate(180deg);
}
.menu-mobile-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(80px);
}
.menu-mobile__button {
  display: none;
  margin: auto;
  width: 25px;
  height: 14px;
  cursor: pointer;
}
.menu-mobile__hamburger {
  position: relative;
  transform: translateY(6px);
  background: #ffffff;
  transition: all 0ms 300ms;
  width: 25px;
  height: 2px;
}
.menu-mobile__hamburger:after,
.menu-mobile__hamburger:before {
  width: 25px;
  height: 2px;
}
.menu-mobile__hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: #ffffff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: #ffffff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger-animate {
  background: rgba(255, 255, 255, 0);
}
.menu-mobile__hamburger-animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger-animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile__button {
    display: block;
  }
}
/* Small Devices, Tablets */
.navigation {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #333333;
  height: 40px;
  box-sizing: border-box;
}
.navigation .navigation__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}
.navigation__menu {
  display: flex;
  align-items: center;
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navigation {
    height: 50px;
  }
  .navigation__wrapper {
    justify-content: flex-start;
  }
}
.news {
  margin-bottom: 20px;
  width: 224px;
}
.news__image {
  width: 100%;
  height: 140px;
  margin-bottom: 9px;
}
.news__image img {
  width: 100%;
  height: 100%;
}
.news__title {
  margin: 8px 0;
  color: #272727;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.news__text {
  color: #878787;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "Идейные со" */
  letter-spacing: 0.14px;
}
.news__footer {
  margin-top: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.news__button {
  color: #5e8ce0;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "читать дал" */
  letter-spacing: 0.3px;
}
.news__date {
  /* Style for "07.05.2018" */
  color: #000000;
  font-family: Lato;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "07.05.2018" */
  letter-spacing: 0.3px;
}
.rainbow-line {
  width: 100%;
  height: 5px;
  background: #ff5f3a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff5f3a 1%, #eebe54 25%, #eebe54 50%, #45bb4c 75%, #347ae3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff5f3a 1%, #eebe54 25%, #eebe54 50%, #45bb4c 75%, #347ae3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff5f3a 1%, #eebe54 25%, #eebe54 50%, #45bb4c 75%, #347ae3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f3a', endColorstr='#347ae3', GradientType=1);
  /* IE6-9 */
}
.slider {
  margin-bottom: 78px;
}
.slider__item {
  margin: 20px 0 0 0;
}
.slider__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__panel-new-goods {
  position: relative;
  z-index: 110;
}
.slider__control {
  position: relative;
}
.slider__control-new-goods {
  position: absolute;
  right: 0;
  top: 25px;
}
.slider .control__prev,
.slider .control__next {
  outline: none;
  /* Style for "Box" */
  width: 28px;
  height: 28px;
  padding: 0px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1px;
  transition: all 300ms linear;
}
.slider .control__prev span,
.slider .control__next span {
  font-size: 21px;
  color: #555555;
}
.slider .control__prev:hover,
.slider .control__next:hover,
.slider .control__prev:focus,
.slider .control__next:focus {
  outline: none;
  background-color: #555555;
}
.slider .control__prev:hover span,
.slider .control__next:hover span,
.slider .control__prev:focus span,
.slider .control__next:focus span {
  color: white;
}
.slider .control__prev {
  margin-right: 5px;
}
.slider .control__item {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}
.slider .control__arrow {
  position: relative;
}
.slider .control__arrow .la {
  font-size: 18px;
  color: #333;
  padding: 7px 5px;
}
.store-info .store-info__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-settings {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}
.user-settings__lang {
  cursor: pointer;
  padding: 0 10px;
  width: 70px;
  text-align: center;
  box-sizing: border-box;
}
.user-settings__lang .select-lang {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  font-size: 10px;
  font-family: Lato;
}
.user-settings__lang .select-lang__option {
  color: black;
  border: none;
  font-family: Lato;
}
.user-settings .lang__icon {
  font-size: 9px;
  margin-left: -5px;
  color: white;
  transition: all 100ms linear;
  transform-origin: center center;
  -ms-transform-origin: center center;
}
.user-settings .lang-active__icon {
  transform: rotate(180deg);
}
.user-settings__personal-room {
  margin-left: 15px;
}
.user-settings__personal-room .la-user {
  color: white;
  font-size: 13px;
}
.user-settings__personal-enter {
  color: #ffffff;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  transition: 200ms linear;
}
.user-settings-mobile__personal-room {
  padding: 15px 0 15px 30px;
}
.user-settings-mobile__personal-room .la-user {
  display: inline-block;
  color: #5d5d5d;
  font-size: 13px;
}
.user-settings-mobile__personal-enter {
  color: #5d5d5d;
  box-sizing: border-box;
  font-size: 10px;
  display: inline-block;
  text-decoration: none;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
  transition: 200ms linear;
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .user-settings__personal-room {
    display: none;
  }
}
.wrapper {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.head {
  background-color: white;
  padding: 28px 15px 17px 15px;
}
.head__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
}
/* Small Devices, Tablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .head__wrapper {
    justify-content: center;
  }
  .head__search {
    display: none;
  }
  .head__counter {
    display: none;
  }
  .head__logo {
    width: 150px;
  }
  .head__logo img {
    width: 100%;
  }
}
