.content {
  margin-top: 23px;
}
.content__wrapper {
  display: flex;
  justify-content: space-between;
}
.content__goods {
  width: 840px;
}
.content__title {
  color: #272727;
  font-family: "Museo Sans Cyrl 700";
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.content__product-of-the-day {
  position: relative;
  border: none !important;
  margin: 10px 3px 0 3px;
}
.content__product-of-the-day img {
  height: 100%;
}
.content__product-of-the-day:first-child {
  margin-left: 0;
}
.content__product-of-the-day:last-child {
  margin-right: 0;
}
.product-of-the-day__title {
  margin-bottom: 20px;
}
.product-of-the-day__banner {
  width: 418px;
  height: 210px;
}
