.slider {
  margin-bottom: 73px;
  overflow: hidden;
}
.slider__item {
  margin: 20px 0 0 0;
}
.slider__panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__panel-new-goods {
  position: relative;
  z-index: 110;
}
.slider__control {
  width: 75px;
  height: 30px;
}
.slider__control-new-goods {
  position: absolute;
  right: 0;
  top: 25px;
}
.slider .control__prev,
.slider .control__next {
  position: relative;
  outline: none;
  width: 28px;
  height: 28px;
  padding: 0;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1px;
  transition: all 300ms linear;
}
.slider .control__prev span,
.slider .control__next span {
  font-size: 21px;
  color: #555555;
}
.slider .control__prev:hover,
.slider .control__next:hover,
.slider .control__prev:focus,
.slider .control__next:focus {
  outline: none;
  background-color: #555555;
}
.slider .control__prev:hover .la,
.slider .control__next:hover .la,
.slider .control__prev:focus .la,
.slider .control__next:focus .la {
  color: white;
}
.slider .control__prev {
  margin-right: 5px;
}
.slider .control__item {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}
.slider .control__icon-nav {
  font-size: 18px;
  color: #333;
  padding: 7px 5px;
}
.tab-slider__control .control__item {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.tab-slider__control .control__item-active {
  visibility: visible;
  opacity: 1;
}
.new-goods__wrapper {
  display: flex;
}
.new-goods__item {
  width: 50%;
}
.slides__new-goods {
  overflow: hidden;
}
