.store-info__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Small Devices, Tablets */
@media only screen and (min-device-width: 480px) and (max-device-width: 1200px) {
  .store-info__wrapper {
    justify-content: center;
  }
}
