.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.menu__item {
  cursor: pointer;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
  transition: 200ms linear;
}
.menu__link {
  text-decoration: none;
  color: #ededed;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  /* Text style for "О компании" */
  letter-spacing: 0.39px;
}
.menu__icon {
  transform: rotate(180deg);
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
}
.menu__addition {
  position: absolute;
  width: 42px;
  height: 42px;
  right: -34px;
  top: -21px;
}
.menu__addition .square {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 42px;
  height: 22px;
  /* Style for "New" */
  text-transform: uppercase;
  text-align: center;
  color: #fdfdfd;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 26px;
  /* Text style for "N, ew" */
  letter-spacing: 0.33px;
}
.menu__addition .square .triangle-down {
  position: absolute;
  top: 22px;
  left: 5px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 6px solid transparent;
}
.menu__addition-new .square {
  background-color: #5995c8;
}
.menu__addition-new .square .triangle-down {
  border-top: 6px solid #5995c8;
}
.menu__addition-hot .square {
  background-color: #cf5353;
}
.menu__addition-hot .square .triangle-down {
  border-top: 6px solid #cf5353;
}
.menu__submenu {
  visibility: hidden;
  opacity: 0;
  background-color: white;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 20;
  width: 240px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  top: 30px;
  left: -40px;
  transition: all 300ms linear;
}
.menu__submenu-active {
  opacity: 1;
  visibility: visible;
}
.menu-item-exp {
  position: relative;
  transition: 300ms linear;
}
.menu-item-exp__icon {
  transform-origin: center;
  vertical-align: middle;
  margin-left: 5px;
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
  transition: all 300ms linear;
}
.menu-item-exp__icon-active {
  transform: rotate(180deg);
}
.submenu__item {
  padding: 7px 15px;
  border-bottom: dotted 1px #dfdfdf;
  list-style-type: none;
  box-sizing: border-box;
}
.submenu__link {
  text-decoration: none;
  display: block;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.36px;
}
.submenu__icon {
  color: #5995c8;
  margin: 0 5px 0 8px;
}
.menu-mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  width: 230px;
  z-index: 888;
  background-color: #fff;
  top: 0;
  left: -40px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.menu-mobile__item {
  position: relative;
  border-bottom: solid 1px #e7e7e7;
  transition: all 300ms linear;
}
.menu-mobile__link {
  padding: 15px 30px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
.menu-mobile__addition {
  right: 5px;
  top: 5px;
}
.menu-mobile__submenu {
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-top: solid 2px #dfdfdf;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__submenu-active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.menu-mobile-item-exp {
  position: relative;
  transition: 300ms linear;
}
.menu-mobile-item-exp__icon {
  transform-origin: center;
  vertical-align: middle;
  margin-left: 5px;
  color: #5995c8;
  font-size: 12px;
  margin-right: 10px;
  transition: all 300ms linear;
}
.menu-mobile-item-exp__icon__icon-active {
  transform: rotate(180deg);
}
.menu-mobile-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(80px);
}
.menu-mobile__button {
  display: none;
  margin: auto;
  width: 25px;
  height: 14px;
  cursor: pointer;
}
.menu-mobile__hamburger {
  position: relative;
  transform: translateY(6px);
  background: #ffffff;
  transition: all 0ms 300ms;
  width: 25px;
  height: 2px;
}
.menu-mobile__hamburger:after,
.menu-mobile__hamburger:before {
  width: 25px;
  height: 2px;
}
.menu-mobile__hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: #ffffff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: #ffffff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger-animate {
  background: rgba(255, 255, 255, 0);
}
.menu-mobile__hamburger-animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-mobile__hamburger-animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile__button {
    display: block;
  }
}
/* Small Devices, Tablets */
