.user-settings {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}
.user-settings__lang .select-lang {
  background: none;
  border: none;
  color: #fff;
  outline: none;
  font-size: 10px;
  font-family: Lato;
}
.user-settings__lang .select-lang option {
  color: black;
  border: none;
  font-family: Lato;
}
.user-settings__personal-room {
  margin-left: 15px;
}
.user-settings__personal-room .la-user {
  color: white;
  font-size: 13px;
}
.user-settings__personal-enter {
  color: #ffffff;
  font-family: Lato;
  font-size: 10px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
