.user-settings {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  &__lang {
    .select-lang {
      background: none;
      border: none;
      color: #fff;
      outline: none;
      font-size: 10px;
      font-family: Lato;
      option {
        color: black;
        border: none;
        font-family: Lato;
      }
    }
  }
  &__personal-room {
    margin-left: 15px;
    .la-user {
      color: white;
      font-size: 13px;
    }
  }
  &__personal-enter {
    color: #ffffff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
