.counter {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.counter__item-counter {
  position: relative;
}
.counter__item-counter .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -8px;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.counter__item-counter .la {
  color: #333333;
  font-size: 23px;
}
.counter__title {
  color: #333333;
  font-family: 'Lato Medium';
  font-size: 15px;
  font-weight: 300;
  margin-left: 24px;
}
.counter-mobile__item-counter {
  position: relative;
}
.counter-mobile__item-counter .item__counter-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -8px;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.counter-mobile__item-counter .la {
  color: white;
  font-size: 23px;
}
/* Extra Small Devices, Phones, Iphone 4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .counter-mobile {
    display: flex;
    margin: 0 6px;
  }
  .navigation__wrapper {
    justify-content: flex-start;
  }
}
@media only screen and (min-device-width: 960px) {
  .counter-mobile {
    display: none;
  }
}
