.knowledge-base__title {
  text-align: center;
  width: 272px;
  height: 52px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 14px 0;
  margin: 0;
}
.knowledge-base__tape {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  position: relative;
  padding: 10px 21px 7px 21px;
  box-sizing: border-box;
  background-color: white;
}
.knowledge-base__banner {
  text-align: center;
  padding: 50px 54px;
  box-sizing: border-box;
  margin-top: 5px;
  width: 272px;
  height: 357px;
  box-shadow: 0 3px 7px rgba(151, 151, 151, 0.35);
  border: 1px solid #e7e7e7;
  background-color: #fff0e3;
}
.knowledge-base .banner-knowledge__name {
  overflow: hidden;
  color: #161616;
  padding-bottom: 2px;
  font-family: 'Lato Medium';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: all 300ms linear;
}
.knowledge-base .banner-knowledge__name:hover {
  color: #565656;
}
.knowledge-base .banner-knowledge__name:after {
  content: '';
  margin-top: -1px;
  display: block;
  border-bottom: dotted 1px black;
}
