.news {
  margin-bottom: 20px;
  width: 224px;
}
.news__image {
  width: 100%;
  height: 140px;
  margin-bottom: 9px;
}
.news__image img {
  width: 100%;
  height: 100%;
}
.news__title {
  margin: 8px 0;
  color: #272727;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.news__text {
  color: #878787;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "Идейные со" */
  letter-spacing: 0.14px;
}
.news__footer {
  margin-top: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.news__button {
  color: #5e8ce0;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "читать дал" */
  letter-spacing: 0.3px;
}
.news__date {
  /* Style for "07.05.2018" */
  color: #000000;
  font-family: Lato;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "07.05.2018" */
  letter-spacing: 0.3px;
}
