.search {
  width: 447px;
  height: 49px;
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
}
.search__input {
  width: 100%;
  height: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
}
.search__input:focus {
  outline: none;
  border: solid 1px #ffa02f;
}
.search__button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 49px;
  border: solid 1px transparent;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #f6bc51;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6bc51 1%, #ffa02f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6bc51', endColorstr='#ffa02f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.search__button:active {
  outline: none;
}
.search__button .la-search {
  font-size: 18px;
  transform: rotate(-90deg);
  color: #fff;
}
.search-mobile {
  width: 150px;
  height: 20px;
  position: relative;
  background-color: transparent;
  margin-left: 7px;
}
.search-mobile__input {
  width: 100px;
  height: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: white;
  transition: all 300ms linear;
}
.search-mobile__input:focus {
  width: 130px;
  outline: none;
  margin-bottom: -3px;
  border-bottom: solid 2px white;
}
.search-mobile__button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px transparent;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.search-mobile__button:active {
  outline: none;
}
.search-mobile__button .la-search {
  font-size: 18px;
  transform: rotate(-90deg);
  color: #fff;
}
