.head {
  background-color: white;
  padding: 28px 15px 17px 15px;
}
.head__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
}
/* Small Devices, Tablets */
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .head__wrapper {
    justify-content: center;
  }
  .head__search {
    display: none;
  }
  .head__counter {
    display: none;
  }
  .head__logo {
    width: 150px;
  }
  .head__logo img {
    width: 100%;
  }
}
