.favorite-heart {
  position: relative;
  width: 35px;
  height: 35px;
}
.favorite-heart input[type=checkbox] {
  clear: both;
  display: none;
}
.favorite-heart input[type="checkbox"] {
  display: none;
}
.favorite-heart input[type="checkbox"] + label {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.favorite-heart input[type="checkbox"]:checked + label svg {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  fill: red;
  animation: like-a 0.3s 0.2s forwards;
}
.favorite-heart label svg {
  padding: 5px;
  display: inline-flex;
  vertical-align: middle;
  width: 22px;
  fill: #a7a7a7;
}
@-webkit-keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
@-moz-keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
@keyframes like-a {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
  }
}
